language: node_js

node_js:
  - 10

script:
  - yarn test:ci
  - yarn docs
#  - yarn release

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: gh-pages