.navbar
  .site-name.can-hide
    color $accentColor

input, select
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  text-align center

select
  background-color transparent
  border-color transparent
  box-sizing border-box

select:hover
  border-color $borderColor

.input
  max-width 50px

a
  cursor pointer